.container {
  position: fixed;
  top: 15vh;
  right: 30px;
  background-color: white;
  padding: 2vh 1vw;
  border-radius: 23px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.25);
  width: 13.7vw;
  // height: 193px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100;

  .loading,
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 0.9rem;
    color: #868e96;
  }

  .error {
    color: #ff6b6b;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    .titleWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      width: 100%;
      .title {
        font-size: 1rem;
        font-weight: bold;
        color: #212529;
        margin: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        .highlight {
          color: #4a3aff;
          margin-right: 0.2em;
        }
        .statusDot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #1dd1a1; // 'good' color
          flex-shrink: 0;
          margin-left: 8px;
        }
      }
    }
    .date {
      font-size: 0.9vw;
      color: #868e96;
    }
  }
  .infoList {
    border-top: 1px solid #b0b0c1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    align-items: flex-start;
    padding-top: 0.5rem;
    font-size: 1rem;
    .infoItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1vw;
      width: 100%;
      padding-bottom: 4px;
      padding-top: 4px;
      .label {
        color: #1e1b39;
        font-weight: 600;
      }
      .value {
        font-weight: 600;
        color: #1e1b39;
      }
    }
  }
}
