.container {
  position: fixed;
  top: 15vh;
  right: 18vw;
  z-index: 100;
  padding: 2vh 1vw;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.25);
  width: 24.5vw;
  height: 28vh;
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: #474464;
      margin: 0;
      .highlight {
        color: #4a3aff;
      }
    }
    .date {
      font-size: 16px;
      color: #868e96;
      padding-bottom:8px;
    }
  }
  .divider {
    border-top: 1px solid #b0b0c1;
    width: 100%;
    margin: 1vh 0 1.5vh 0;
  }
  .content {
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    text-align: center;
    padding-top: 0.8vh;
    width: 100%;
    .forecastItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5vh;
      .tab {//오늘 내일 모레
        color: #fff;
        border-radius: 8px;
        width: 5.7vw;
        height: 2.9vh;
        font-weight: bold;
        font-size: 16px;
        min-width: 60px;
        text-align: center;
        margin-bottom: 1vh;
        display: flex;             
        align-items: center;        
        justify-content: center;
      }
      .today {
        background: #4a3aff;
      }
      .tomorrow {
        background: #B0B0C1;
      }
      .dayAfter {
        background: #6E6C83;
      }
      .forecastContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3vh;
        min-height: 80px;
        justify-content: center;
      }
      .gradeIcon {
        padding-top:2vh;
        padding-bottom: 2vh;
        width: 4vw;
        height: 4vw;
      }
      .gradeText {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0.3vh;
        color: #B0B0C1;
      }
      .unavailable {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0;
        color: #b0b0c1;
        white-space: pre-line;
        min-height: 80px;
      }
    }
  }
  .error {
    color: #ff6c6c;
    font-size: 16px;
    text-align: center;
    margin-top: 1vh;
    padding: 0.5vh;
    border-radius: 8px;
  }
}
